* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.button_p {
  padding: 1px 5px;
}
.entry_point {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.left_panel {
  width: 150px;
  height: 100vh;
  background-color:  #999999;
  padding: 3px;
}

.right_panel {
  width: 150px;
  height: 100vh;
  background-color: #999999;
}

.render_canvas {
  color: "red";
  flex: 1;
}